<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="onToggleMatDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="isOpened">
    <!-- <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ folder.name }}</div>
        <div matListItemLine>{{ folder.updated | date }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list> -->
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
